body{
    background-color:rgb(240, 243, 247);
    text-align: center;
    
    
    
}

nav,ul,li{
    display:inline;
    background-color: rgb(69, 189, 32);
    padding: 20px;
    margin-left: 10px;
   
}